<div class="container col-6 col-md-4">
  <h1>Update a Task</h1>
  <%= render 'form' %>
  <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox">
  <label class="form-check-label" for="firstCheckbox">Mark as completed</label>
</div>
